<% @characters = Character.all  %>

<%= link_to 'NPCs', npcs_path %>

<h1>Charaktere</h1>
<%= link_to 'Neu', new_character_path %>

<ul>
  <% @characters.each do |character| %>
    <li><%= link_to character.name, character %></li>
  <% end %>
</ul>
