<% @character.level = 1 %>

<h1>Charakter erstellen</h1>


<%= form_for @character, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
 	<label>Name: <%= f.text_field :name %></label>
  <br>Rasse: <%= f.collection_select :race_id, Race.order(:id),:id, :name %>
  <br><%= f.submit "Erstellen" %>
<% end %>